<a
  class="flex h-11 w-60 items-center rounded font-button font-bold cursor-pointer"
  [ngClass]="{ 'bg-blue': theme === 'blue', 'bg-white': theme === 'white', 'bg-black': theme === 'black' }"
>
  <span class="bg-white p-2 m-1 rounded" [ngClass]="{ 'bg-white': theme === 'blue' }" *ngIf="img"><img [src]="img" /></span>
  <span
    class="text-sm text-center flex-1"
    [ngClass]="{ 'text-white': ['blue', 'transparent', 'black'].includes(theme), 'text-black': theme === 'white' }"
  >
    <ng-content></ng-content>
  </span>
</a>
