<a
  [attr.href]="href ? href : null"
  [attr.target]="href ? '_blank' : null"
  class="flex rounded cursor-pointer py-2"
  [ngClass]="{
    'px-2': size === 'small',
    'px-4': size === 'normal',
    'px-6': size === 'large',
    'bg-red': theme === 'danger',
    'bg-black': ['black', 'transparent'].includes(theme),
    'bg-opacity-0': theme === 'transparent',
    'hover:bg-opacity-10': theme === 'transparent',
    'hover:bg-opacity-90': theme !== 'transparent',
    'text-white': ['danger'].includes(theme)
  }"
>
  <ng-container>
    <ng-content></ng-content>
  </ng-container>
</a>
