<mat-dialog-content *ngIf="loading"><app-spinner color="black"></app-spinner></mat-dialog-content>
<mat-dialog-content *ngIf="!loading">
  <div class="mb-3 text-right">Prévisualiser: <mat-slide-toggle [(ngModel)]="preview"></mat-slide-toggle></div>
  <quill-editor [(ngModel)]="text" *ngIf="!preview" translate="no"></quill-editor>
  <div class="ql-editor preview" [innerHTML]="text | bypass" *ngIf="preview"></div>
  <p *ngIf="!preview">
    <app-button theme="success" class="mt-4" (click)="save()">
      <ng-container *ngIf="!saving">Ok</ng-container>
      <ng-container *ngIf="saving"><app-spinner></app-spinner></ng-container>
    </app-button>
  </p>
  <p class="mt-4 italic" *ngIf="!preview">Vous pouvez redimensionner les images avec leurs coins.</p>
  <p class="text-red mt-4" *ngIf="text && text.length >= 2000000">
    Chaque jour est limité à 2Mo de données, essayez de réduire la taille de vos images.
  </p>
</mat-dialog-content>
