<mat-dialog-content>
  <div class="header">
    Prévisualiser: <mat-slide-toggle [(ngModel)]="preview"></mat-slide-toggle>
  </div>
  <quill-editor [(ngModel)]="text" [modules]="modules" *ngIf="!preview"></quill-editor>
  <div class="ql-editor preview" [innerHTML]="text" *ngIf="preview"></div>
  <p>
    <button mat-flat-button color="primary" (click)="save()">Ok</button>
  </p>
  <p><i *ngIf="!preview">Vous pouvez redimensionner les images en cliquant dessus.</i></p>
  <p class="error" *ngIf="text && text.length >= 1000000">
    Chaque jour est limité à 1Mo de données, essayez de réduire la taille de vos images.
  </p>
</mat-dialog-content>
