<p *ngIf="!calendar">Chargement...</p>
<ng-container *ngIf="calendar">
  <h1>
    <span *ngIf="!editing">{{ calendar.name }}</span>
    <mat-form-field *ngIf="editing">
      <input matInput type="text" [(ngModel)]="calendar.name">
    </mat-form-field>
    <mat-icon (click)="edit()">edit</mat-icon>
    <button matTooltip="Partager" (click)="share()" mat-button class="right" [cdkCopyToClipboard]="url">
      Partager avec les jours bloqués : <mat-icon>link</mat-icon>
    </button>
  </h1>
  <app-calendar-content (open)="open($event)" [editing]="true"></app-calendar-content>
  <p>
    <button mat-flat-button color="warn" (click)="deleteCalendar()">Supprimer le calendrier</button>
  </p>
</ng-container>
