<app-top-bar></app-top-bar>
<app-spinner *ngIf="!calendar"></app-spinner>
<ng-container *ngIf="calendar">
  <h1>
    <div>
      <span *ngIf="!editing">{{ calendar.name }}</span>
      <mat-form-field *ngIf="editing">
        <input matInput type="text" [(ngModel)]="calendar.name" />
      </mat-form-field>
      <mat-icon (click)="edit()">edit</mat-icon>
    </div>
    <div>
      <button matTooltip="Partager" (click)="share()" mat-button [cdkCopyToClipboard]="url">
        Partager avec les jours cachés : <mat-icon>link</mat-icon>
      </button>
      <button matTooltip="Options" (click)="settings()" class="bg-black bg-opacity-0 hover:bg-opacity-5">
        <mat-icon>settings</mat-icon>
      </button>
    </div>
  </h1>
  <app-calendar-content (open)="open($event)" [editing]="true" [calendar]="calendar"></app-calendar-content>
  <p>
    <button mat-flat-button color="warn" (click)="deleteCalendar()"><mat-icon>delete</mat-icon> Supprimer le calendrier</button>
  </p>
</ng-container>
