<app-top-bar></app-top-bar>
<app-spinner *ngIf="!calendar"></app-spinner>
<ng-container *ngIf="calendar">
  <h1 class="flex flex-wrap">
    <div class="text-3xl">
      {{ calendar.name }}
    </div>
    <div class="flex">
      <app-button matTooltip="Partager" (click)="share()" [cdkCopyToClipboard]="url">
        Partager avec les jours cachés : <mat-icon>link</mat-icon>
      </app-button>
      <app-button matTooltip="Options" (click)="settings()">
        <mat-icon>settings</mat-icon>
      </app-button>
    </div>
  </h1>
  <app-calendar-content (openContent)="open($event)" [editing]="true" [calendar]="calendar"></app-calendar-content>
  <p>
    <app-button theme="danger" (click)="deleteCalendar()"><mat-icon>delete</mat-icon> Supprimer le calendrier</app-button>
  </p>
</ng-container>
