.calendar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.day {
  flex: 20%;
  filter: grayscale(0.9);
}

.day.enabled {
  filter: none;
}

.day-content {
  position: relative;
  margin: auto;
  width: 80%;
  height: 80%;
  display: flex;
  transition: 300ms;
}

.day.enabled .day-content:hover {
  transform: rotate(15deg);
  cursor: pointer;
}

img {
  left: 0;
  top: 0;
  width: 100%;
}

.day-number {
  z-index: 1;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 40px;
  color: #3c3c3c;
}

@media (max-width: 768px) {
  .day {
    flex: 33%;
  }
  .day-number {
    top: 60%;
  }
}

@media (max-width: 500px) {
  .day {
    flex: 100%;
  }
  .day-number {
    font-size: 50px;
    top: 80%;
  }
}
