<mat-toolbar color="primary" *ngIf="!router.url.startsWith('/-')">
  <a [routerLink]="'/'">eCalendrier de l'avent</a>
  <div class="flex-spacer"></div>
  <a mat-button href="https://www.buymeacoffee.com/ecalendrier" target="_blank" (click)="event()">
    Faire un don <mat-icon>favorite</mat-icon>
  </a>
  <a mat-button href="https://github.com/arnauddrain/advent-calendar" target="_blank">
    <img src="assets/github.svg">
  </a>
  <a mat-button href="https://www.facebook.com/ECalendrier-de-lavent-108201144469459" target="_blank">
    <mat-icon>facebook</mat-icon>
  </a>
</mat-toolbar>

<div class="container">
  <mat-card>
    <router-outlet></router-outlet>
  </mat-card>
  <div class="create-button" *ngIf="router.url.startsWith('/-')">
    <a mat-flat-button color="primary" [routerLink]="'/'">Créer mon propre calendrier</a>
  </div>
</div>
