<app-top-bar></app-top-bar>
<div>
  <h1 class="text-5xl mb-2">Politique de confidentialité</h1>
  <p class="mb-1">eCalendrier est une application développée par Arnaud Drain dans un but non-commercial.</p>
  <h2 class="text-3xl mb-2">Données récoltées</h2>
  <p class="mb-1">
    Les données récoltées sont celles saisies sur le site (nom et contenu des calendriers) ainsi que celles nécessaires pour la connexion
    (identifiant numérique Google / Facebook, email, nom et prénom).
  </p>
  <h2 class="text-3xl mb-2">Traceurs</h2>
  <p class="mb-1">
    eCalendrier utilise Google Analytics pour récolter des statistiques d'utilisation de l'application. Ces statistiques sont anonymisées.
  </p>
  <h2 class="text-3xl mb-2">Hébergement des données</h2>
  <p class="mb-1">Les données de eCalendrier sont stockés en Europe par le service "Firebase" appartenant à Google (Alphabet).</p>
</div>
