<form (submit)="save()" class="p-4">
  <mat-dialog-content>
    <h2 class="text-3xl pb-8 font-bold">Paramètres du calendrier</h2>
    <label for="name">
      <h3 class="text-lg pb-3 font-bold">Nom du calendrier</h3>
      <input
        required
        id="name"
        [(ngModel)]="name"
        name="name"
        class="rounded bg-none border-solid border-gray-400 border px-4 py-2 outline-none w-full"
        placeholder="Nom"
      />
    </label>
    <label for="dates">
      <h3 class="text-lg pb-3 pt-3 font-bold">Dates du calendrier</h3>
      <div class="gap-1 flex items-center md:flex-row flex-col">
        Du
        <input
          type="date"
          id="startDate"
          name="startDate"
          class="rounded bg-none border-solid border-gray-400 border px-4 py-2 outline-none w-full"
          [(ngModel)]="startDate"
        />
        au
        <input
          type="date"
          id="endDate"
          name="endDate"
          class="rounded bg-none border-solid border-gray-400 border px-4 py-2 outline-none w-full"
          [(ngModel)]="endDate"
        />
      </div>
    </label>
    <label class="flex justify-between items-center" *ngIf="premium">
      <h3 class="text-lg pb-3 pt-3 font-bold">Afficher le logo du site</h3>
      <mat-slide-toggle name="displayLogo" [(ngModel)]="displayLogo"></mat-slide-toggle>
    </label>
    <label class="flex justify-between items-center" *ngIf="premium">
      <h3 class="text-lg pb-3 pt-3 font-bold">Bouton "Créer mon propre calendrier"</h3>
      <mat-slide-toggle name="displayCta" [(ngModel)]="displayCta"></mat-slide-toggle>
    </label>
    <i *ngIf="!premium">En activant le mode premium, vous pouvez aussi cacher le logo du site et le bouton "Créer mon propre calendrier"</i>
  </mat-dialog-content>
  <mat-dialog-actions>
    <app-button type="submit" theme="success" class="pt-2">Enregistrer</app-button>
  </mat-dialog-actions>
</form>
