<mat-dialog-content>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Nom</mat-label>
      <input matInput type="text" [(ngModel)]="name" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Dates</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matInput matStartDate [(ngModel)]="startDate" placeholder="Début" />
        <input matInput matEndDate [(ngModel)]="endDate" placeholder="Fin" />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <app-button theme="success" (click)="save()">Enregistrer</app-button>
</mat-dialog-actions>
