<app-top-bar></app-top-bar>
<div>
  <h1 class="text-5xl mb-4 text-center text-yellow-100"><mat-icon>star</mat-icon>Mode premium<mat-icon>star</mat-icon></h1>
  <div class="text-lg">
    <p>Le mode premium coûte 5€ à vie et permet d'activer des fonctionnalités supplémentaires :</p>
    <ul class="list-disc list-inside">
      <li>Désactiver le logo "eCalendrier" sur vos calendriers</li>
      <li>Désactiver le bouton "Créer mon propre calendrier" sur vos calendriers</li>
      <li>Retirer la limite de 1Mo par case</li>
    </ul>
    <p>Le paiement s'effectue de façon sécurisée en ligne grâce à la plateforme Stripe.</p>
    <div class="flex justify-center mt-4">
      <button class="bg-yellow-400 text-black rounded py-2 px-4 lg:py-4 flex items-center gap-2">
        <mat-icon>star</mat-icon>Activer le mode premium<mat-icon>star</mat-icon>
      </button>
    </div>
  </div>
  <div></div>
</div>
