<ng-container *ngIf="!user">Chargement...</ng-container>

<ng-container *ngIf="user" class="">
  <h1 class="text-4xl mb-4">Bonjour {{ user.displayName }} !</h1>
  <h2 class="text-2xl mb-2">Mes calendriers :</h2>
  <div class="mb-4 flex flex-wrap">
    <a
      *ngFor="let calendar of calendars | async"
      [routerLink]="['/edit', calendar.key]"
      class="rounded mr-2 mb-2 flex p-8 border-2 border-solid border-gray-100 hover:bg-gray-100 hover:text-black bg-white bg-opacity-30"
    >
      {{ calendar.value.name }}
    </a>
    <a
      class="
        rounded
        mr-2
        mb-2
        flex
        p-8
        border-2 border-dashed
        cursor-pointer
        border-gray-100
        hover:bg-gray-100 hover:text-black
        bg-white bg-opacity-30
      "
      (click)="addCalendar()"
    >
      + Ajouter un calendrier
    </a>
  </div>
  <i *ngIf="loading">Chargement...</i>
  <div class="mb-1">
    <button class="bg-red rounded px-4 py-2" (click)="logout()">Déconnexion</button>
  </div>
</ng-container>
