<ng-container *ngIf="!user">Chargement...</ng-container>

<ng-container *ngIf="user">
  <h1>Bonjour {{ user.displayName }} !</h1>
  <h2>Mes calendriers :</h2>
  <ul>
    <li *ngFor="let calendar of calendars | async">
      <a [routerLink]="['/edit', calendar.key]">{{ calendar.value.name }}</a>
    </li>
  </ul>
  <div>
    <mat-form-field>
      <mat-label>Nom du calendrier</mat-label>
      <input matInput type="text" [(ngModel)]="newCalendarName" />
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="addCalendar()" [disabled]="addingCalendar || !newCalendarName.length">
      Ajouter un calendrier
    </button>
  </div>
  <button mat-flat-button color="warn" (click)="logout()">Déconnexion</button>
</ng-container>
