/* You can add global styles to this file, and also import other style files */

@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  background-color: #3a3937;
  background-image: url('assets/bg.webp');
  color: white;
}
