<div class="mb-14 flex justify-between items-center flex-wrap">
  <a [routerLink]="'/'"><img src="/assets/logo.svg" alt="logo" width="212" height="59" /></a>
  <div class="flex items-center text-white">
    <a [routerLink]="['/']"><app-button theme="dark">Créer mon propre calendrier</app-button></a>
  </div>
</div>

<app-spinner *ngIf="loading"></app-spinner>
<p *ngIf="!loading && !calendar">Il y a un problème avec le lien, ce calendrier n'existe pas ou a été supprimé.</p>
<ng-container *ngIf="calendar">
  <h1 class="text-3xl">
    {{ calendar.name }}
  </h1>
  <p *ngIf="demo">
    <i>La démo montre l'état d'un calendrier qui commencerait 10 jours dans le passé et terminerait 15 jours après.</i>
  </p>
  <app-calendar-content (open)="open($event)" [demo]="demo" [calendar]="calendar"></app-calendar-content>
</ng-container>
