<div class="mb-14 flex justify-between items-center flex-col md:flex-row">
  <a [routerLink]="'/calendars'"><img src="/assets/logo.svg" alt="logo" width="212" height="59" /></a>
  <div class="flex flex-wrap items-center justify-center text-white mt-4 md:mt-0">
    <a href="https://github.com/arnauddrain/advent-calendar" target="_blank">
      <app-button size="small" class="mr-2">
        <img alt="GitHub" width="23" height="23" src="assets/github.svg" />
      </app-button>
    </a>
    <a href="https://www.facebook.com/ECalendrier-de-lavent-108201144469459" target="_blank">
      <app-button size="small">
        <mat-icon>facebook</mat-icon>
      </app-button>
    </a>
    <a href="https://www.facebook.com/messages/t/108201144469459" target="_blank">
      <app-button class="mr-2" (click)="contactEvent()"> Contacter <mat-icon class="ml-1">email</mat-icon></app-button>
    </a>
    <a [routerLink]="['/premium']" class="bg-red rounded py-2 px-4 lg:py-4 flex items-center gap-2">
      <mat-icon>star</mat-icon>
      Mode premium
    </a>
  </div>
</div>
