<div class="mb-14 flex justify-between items-center flex-wrap">
  <a [routerLink]="'/calendars'"><img src="/assets/logo.svg" alt="logo" width="212" /></a>
  <div class="flex items-center text-white">
    <a href="https://github.com/arnauddrain/advent-calendar" target="_blank" class="mr-6">
      <img alt="GitHub" width="23" height="23" src="assets/github.svg" />
    </a>
    <a href="https://www.facebook.com/ECalendrier-de-lavent-108201144469459" target="_blank" class="mr-6 flex text-2xl">
      <mat-icon>facebook</mat-icon>
    </a>
    <a
      href="https://www.facebook.com/messages/t/108201144469459"
      target="_blank"
      (click)="contactEvent()"
      class="mr-6 flex items-center rounded"
    >
      Contacter <mat-icon class="ml-1">email</mat-icon>
    </a>
    <a
      href="https://www.buymeacoffee.com/ecalendrier"
      target="_blank"
      (click)="donationEvent()"
      class="bg-red rounded px-8 py-4 flex items-center"
    >
      Soutenir le projet
    </a>
  </div>
</div>
